<ion-header>
  <ion-navbar>
    <ion-title *ngIf="choose == 1">资产盘点</ion-title>
    <ion-title *ngIf="choose == 2">报废管理</ion-title>
    <ion-title *ngIf="choose == 3">调拨管理</ion-title>
    <ion-title *ngIf="choose == 4">统计查询</ion-title>
    <ion-title *ngIf="choose == 5">加油站管理</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="userInfoBox">
    <div class="userPhotoBox" item-start>
      <img class="userPhoto" src="assets/imgs/user.png">
    </div>
    <div class="userTextBox" item-end>
      <div class="userName">{{user.username}}</div>
      <div class="userDepart">{{user.depart.shortname}}</div>
    </div>
  </div>
  <div *ngIf="choose == 1">
    <div class="tabsButtonBox">
      <button class="tabsButton" (click)="formPage(1)"><ion-icon name="qr-scanner" class="tabsButtonIcon"></ion-icon><br>资产盘点</button>
      <button class="tabsButton" (click)="searchPage()"><ion-icon name="sync" class="tabsButtonIcon"></ion-icon><br>盘点查询</button>
      <button class="tabsButton" (click)="planListPage(1)"><ion-icon name="cloud-download" class="tabsButtonIcon"></ion-icon><br>数据下载</button>
    </div>
    <div class="tabsButtonBox">
      <button class="tabsButton" (click)="planListPage(2)"><ion-icon name="search" class="tabsButtonIcon"></ion-icon><br>本地下载查询</button>
      <button class="tabsButton" (click)="planListLocalPage(2)"><ion-icon name="cloud-upload" class="tabsButtonIcon"></ion-icon><br>数据上传</button>
      <button class="tabsButton" (click)="formPage(4)"><ion-icon name="create" class="tabsButtonIcon"></ion-icon><br>盘盈录入</button>
    </div>
  </div>
  <div *ngIf="choose == 2">
    <div class="tabsButtonBox">
      <button class="tabsButton" (click)="formPage(3)"><ion-icon name="trash" class="tabsButtonIcon"></ion-icon><br>报废申请</button>
      <button class="tabsButton" (click)="censorshipPage(4)"><ion-icon name="paper" class="tabsButtonIcon"></ion-icon><br>报废审批</button>
      <button class="tabsButton"><ion-icon name="search" class="tabsButtonIcon"></ion-icon><br>报废查询</button>
    </div>
  </div>
  <div *ngIf="choose == 3">
    <div class="tabsButtonBox">
      <button class="tabsButton" (click)="formPage(2)"><ion-icon name="open" class="tabsButtonIcon"></ion-icon><br>调拨申请</button>
      <button class="tabsButton"><ion-icon name="swap" class="tabsButtonIcon"></ion-icon><br>调拨操作</button>
      <button class="tabsButton" (click)="censorshipPage(1)"><ion-icon name="paper" class="tabsButtonIcon"></ion-icon><br>调拨审批</button>
    </div>
    <div class="tabsButtonBox">
      <button class="tabsButton" (click)="censorshipPage(2)"><ion-icon name="arrow-round-up" class="tabsButtonIcon"></ion-icon><br>调出确认</button>
      <button class="tabsButton" (click)="censorshipPage(3)"><ion-icon name="arrow-round-down" class="tabsButtonIcon"></ion-icon><br>调入确认</button>
      <button class="tabsButton"><ion-icon name="search" class="tabsButtonIcon"></ion-icon><br>调拨查询</button>
    </div>
  </div>
  <div *ngIf="choose == 4">
    <div class="tabsButtonBox">
      <button class="tabsButton"><ion-icon name="search" class="tabsButtonIcon"></ion-icon><br>资产查询</button>
      <button class="tabsButton"><ion-icon name="search" class="tabsButtonIcon"></ion-icon><br>台账查询</button>
      <button class="tabsButton"><ion-icon name="search" class="tabsButtonIcon"></ion-icon><br>汇总查询</button>
    </div>
  </div>
  <div *ngIf="choose == 5">
    <div class="tabsButtonBox">
      <button class="tabsButton"><ion-icon name="create" class="tabsButtonIcon"></ion-icon><br>周检表录入</button>
      <button class="tabsButton"><ion-icon name="cloud-upload" class="tabsButtonIcon"></ion-icon><br>数据上传</button>
    </div>
  </div>
</ion-content>
