// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to contact globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//返回键
.back-button.show-back-button{
  color: white;
}
//input宽度
.floatingInputItem{
  width: 95%;
}
//tabs页通用css
.myselfButton{
  background: #0091d2;
}
.userInfoBox{
  width: 100%;
  display: table;
  background: rgb(248, 248, 248);
  padding: 16px 16px 8px 16px;
}
.userPhotoBox{
  display: table-cell;
  width: 20%;
}
.userPhoto{
  width: 100%;
}
.userTextBox{
  display: table-cell;
  width: 70%;
  vertical-align: top;
}
.userName{
  margin: 5% 10%;
}
.userDepart{
  margin: 5% 10%;
}
.tabsButtonBox{
  width: 100%;
  text-align: center;
  display: flex;
}
.tabsButtonIcon{
  color: #0091d2;
  font-size: 3.5em;
}
.tabsButton{
  width: 33%;
  padding: 5%;
  background: transparent;
  border-bottom: 1px solid #dedede;
}
.tabsButton:nth-child(even){
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
}
//下拉框和字体
.popover-ios .popover-content{
  width: 75%;
  .item-block{
    font-size: 14.5px;
  }
}
.popover-md .popover-content{
  width: 75%;
  .item-block{
    font-size: 14.5px;
  }
}
//tabs下button
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: #0091d2;
}
.tabs-md .tab-button[aria-selected=true] {
  color: #0091d2;
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
  color: #0091d2;
}
.tabs-ios .tab-button[aria-selected=true] {
  color: #0091d2;
}
//标题栏
.toolbar-background-ios{
  background: #0091d2;
}
.toolbar-title-ios{
  color: white;
  font-size: 1.3em;
}
.toolbar-background-md{
  background: #0091d2;
}
.toolbar-title-md{
  color: white;
  font-size: 1.3em;
}
