page-search{
  .searchList{
    margin-bottom: 12px;
  }
  .searchSelectLabel{
    flex: none;
  }
  .searchSelect{
    width: 100%;
    max-width: 100%;
  }
  .searchToolbar .toolbar-background-ios{
    background: white;
  }
  .searchList .inputItem:last-child{
    width: 100%;
  }
  .searchDetailList .inputItem:last-child{
    width: 100%;
  }
}
